
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Ga+Maamli&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
    overflow: hidden;
}
#menu {
    background-color: whitesmoke;
}
.title {
    padding: 0 30px;
}
#menu img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -20px;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    margin: 12px 0;
    font-weight: 300;
    padding: 8px 30px;
    color: #8A8285;
}

.menu-item a:hover {
    background-color: #F9D4DA;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 1;
}

#food-items {
    background-color: whitesmoke;
    overflow: auto;

}
.your-address {
    font-size: 25px;
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.add-box i {
    font-size: 20px;
}
/* .food-items {
    display: none;
} */
.cart-toggle {
    display: block;
}

.util i, .user i {
    font-size: 18px;
    margin: 0 16px;
    color: crimson;
    border: 1px solid crimson;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;

}
.category-name {
    margin: 10px;
    font-size: 35px;
    color: coral;
    font-family: "Aclonica", sans-serif;
}

#biryani, #chicken, #paneer, #vegetable, #chinese, #south-indian {
    margin-top: 40px;
}

#cart-page {
    background-color: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    position: relative;
}
#cart-title {
    font-size: 35px;
    margin: 0;
    color: indianred;
}
#cart-page table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td {
    font-size: 25px;
    padding-bottom: 10px;
}
#cart-page table tbody td {
    font-size: 20px;
    padding: 10px 0;
}
.cart-btn {
    cursor: pointer;
    background-color: crimson;
    padding: 10px 25px;
    font-size: 20px;
    outline: none;
    border: none;
    color: white;
    bottom: 30px;
    border-radius: 20px;
    margin: 15px 0;
}

#cart {
    background-color: whitesmoke;
    overflow-y: scroll;
    padding-right: 30px;
}
.taste-header {
    padding-top: 40px;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}


#item-card {
    width: 180px;
    height: 220px;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F9DAE0;

}
#item-card:hover img {
    transform: scale(1.2);
}
#card-top {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

#rating {
    color: goldenrod;
    background-color: black;
    font-size: 14px;
    border-radius: 15px;
    padding: 7px;
}
#item-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    
}




